.flowDiv{
    box-shadow: 0px 4px 5px rgb(195, 195, 195);
    overflow: auto;
}
.addNodes{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addNodes input{
    width: 500px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 21px;
    font-weight: 500;
    font-family: monospace;
    border: 2px solid black;
    outline: none;
}
.addNodes button{
    margin-top: 10px;
    border: none;
    padding: 3px;
    width: 100px;
    font-size: 21px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}